@model ViewModel.Job.JobSave
@{
    ViewBag.Title = " ثبت آگهی";
}
<style>
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    div{
        line-height:1.6;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading wt-panel-heading p-a20">
        <h4 class="panel-tittle m-a0">
            <i class="fa fa-list"></i>
            @ViewBag.Title
        </h4>
    </div>
    <div class="panel-body wt-panel-body p-a20 m-b30 ">
        <div class="alert alert-info">
            <div>
                <i class="fa fa-info"></i>
                با انتخاب فیلد مشخصات تکمیلی متقاضی مورد نظر باید نام،نام خانوادگی،شماره تماس،تاریخ تولد را باید وارد نماید
            </div>

            <div>
                <i class="fa fa-info"></i>
                با انتخاب هر کدام از فیلدهای
                <span class="gray-color ">
                    <i class="fa fa-graduation-cap"></i>
                    سوابق تحصیلی/آموزشی
                </span>
                <span class="gray-color ">
                    <i class="fa fa-tasks"></i>
                    سوابق شغلی
                </span>
                <span class="gray-color ">
                    <i class="fa fa-language"></i>
                    اطلاعات زبان ها
                </span>
                <span class="gray-color ">
                    <i class="fa fa-map"></i>
                    مهارت های شغلی
                </span>
                متقاضی مورد نظر حداقل باید یک مورد وارد نماید
            </div>
        </div>
        <form id="job-save-form">
            <input type="hidden" asp-for="Id" />
            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="Title"></label>
                        <div class="col-md-8">
                            <input class="form-control" asp-for="Title">
                        </div>
                    </div>

                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="JobGroupId"></label>
                        <div class="col-md-8">
                            <app-select asp-for="JobGroupId" key="@Model.JobGroupId" asp-items="@Model.JobGroups"></app-select>
                        </div>
                    </div>

                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="CityId"></label>
                        <div class="col-md-8">
                            <app-select asp-for="CityId" key="@Model.CityId" asp-items="@Model.Cities"></app-select>
                        </div>
                    </div>

                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="WorkExperienceYearId"></label>
                        <div class="col-md-8">
                            <app-select asp-for="WorkExperienceYearId" key="@Model.WorkExperienceYearId" asp-items="@Model.WorkExperienceYears"></app-select>
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="ContractTypeId"></label>
                        <div class="col-md-8">
                            <app-select asp-for="ContractTypeId" key="@Model.ContractTypeId" asp-items="@Model.ContractTypes"></app-select>
                        </div>
                    </div>

                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="WorkingDays"></label>
                        <div class="col-md-8">
                            <textarea class="form-control" asp-for="WorkingDays">
                                @Model.WorkingDays
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="SalaryTypeId"></label>
                        <div class="col-md-8">
                            <app-select asp-for="SalaryTypeId" key="@Model.SalaryTypeId" asp-items="@Model.SalaryTypes"></app-select>
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="GenderRequired"></label>
                        <div class="col-md-8">
                            <app-select asp-for="GenderRequired" key="@Model.GenderRequired" asp-items="@Model.Genders"></app-select>
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="EducationLevelRequired"></label>
                        <div class="col-md-8">
                            <app-select asp-for="EducationLevelRequired" key="@Model.EducationLevelRequired" asp-items="@Model.EducationLevels"></app-select>
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <label class="label-control col-md-4" asp-for="MilitaryStateRequired"></label>
                        <div class="col-md-8">
                            <app-select asp-for="MilitaryStateRequired" key="@Model.MilitaryStateRequired" asp-items="@Model.MilitaryStates"></app-select>
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <div class="col-md-12">
                            <div class="row col-md-12">
                                <div class="col-md-6 p-0">
                                    <div>
                                        <input class="label-control " type="checkbox" asp-for="Status">
                                        <label asp-for="Status"></label>
                                    </div>
                                    <div>
                                        <input type="checkbox" asp-for="RequiredLoginToSite">
                                        <label class="label-control " asp-for="RequiredLoginToSite"></label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="RequiredLoginToSite" asp-for="RequiredInformation">
                                        <label class="label-control " asp-for="RequiredInformation"></label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="RequiredLoginToSite" asp-for="RequiredEducation">
                                        <label class="label-control " asp-for="RequiredEducation"></label>
                                    </div>
                                </div>
                                <div class="col-md-6 p-0">
                                    <div>
                                        <input type="checkbox" class="RequiredLoginToSite" asp-for="RequiredJob">
                                        <label class="label-control " asp-for="RequiredJob"></label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="RequiredLoginToSite" asp-for="RequiredLanguage">
                                        <label class="label-control " asp-for="RequiredLanguage"></label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="RequiredLoginToSite" asp-for="RequiredSkills">
                                        <label class="label-control " asp-for="RequiredSkills"></label>
                                    </div>
                                    @*<div>
                                            <input type="checkbox" asp-for="RequiredPriorities">
                                            <label class="label-control " asp-for="RequiredPriorities"></label>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <label class="label-control" asp-for="Description"></label>
                    </div>
                    <div class="form-group row col-md-12">
                        <div class="col-md-12">
                            <textarea class="form-control" asp-for="Description">
                             </textarea>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="panel-footer text-center">
        <a id="submit" class="btn btn-success mb-2 ">
            <i class="fa fa-sign-in-alt"></i>
            ثبت
        </a>
    </div>
</div>



<script type="systemjs-module" src="/dist/job-save.js"></script>
